<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ol class="dl-timeline dl-timeline--dates">
            <li class="dl-timeline__entry">
                <h3 class="govuk-heading-m dl-timeline__entry-heading">2020-05-22</h3>
                <div class="dl-timeline__entry__content">
                    <div class="technical-summary-card technical-summary-card--compressed">
                        <span><a href="#">Brownfield collector</a>.</span> 
                        <span>No new resources collected.</span>
                    </div>
                </div>
            </li>
            <li class="dl-timeline__entry">
                <h3 class="govuk-heading-m dl-timeline__entry-heading">2020-05-21</h3>
                <div class="dl-timeline__entry__content">
                    <div class="technical-summary-card technical-summary-card--compressed">
                        <span><a href="#">Brownfield collector</a>.</span> 
                        <span>3 new resources collected.</span>
                    </div>
                </div>
               
            </li>
            <li class="dl-timeline__entry">
                <h3 class="govuk-heading-m dl-timeline__entry-heading">2020-05-20</h3>
                <div class="dl-timeline__entry__content">
                    <div class="technical-summary-card technical-summary-card--compressed">
                        <span><strong class="govuk-tag govuk-tag--red">
                            Error
                          </strong>
                          <a href="#">Brownfield collector</a>.
                        </span> 
                        <span>No run information available.</span>
                    </div>
                </div>
            </li>
            <li class="dl-timeline__entry">
                <h3 class="govuk-heading-m dl-timeline__entry-heading">2020-05-19</h3>
                <div class="dl-timeline__entry__content">
                    <div class="technical-summary-card technical-summary-card--compressed">
                        <span><a href="#">Brownfield collector</a>.</span> 
                        <span>3 issues with the endpoints.</span>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>
