<div class="app-nav__subnav app-hide-mobile">
  <nav class="app-subnav">

    <ul class="app-subnav__section">
      {{ sublevelNavItem("Buttons", url_for('components.buttons')) }}
      {{ sublevelNavItem("Collection summary card", url_for('components.collection_summary_card')) }}
      {{ sublevelNavItem("Contents section", url_for('components.contents_section')) }}
      {{ sublevelNavItem("Contribution bars", url_for('components.contribution_bars')) }}
      {{ sublevelNavItem("Data item", url_for('components.data_item')) }}
      {{ sublevelNavItem("Data tables", url_for('components.data_tables')) }}
      {{ sublevelNavItem("Filter group", url_for('components.filter_group')) }}
      {{ sublevelNavItem("Header", url_for('components.header')) }}
      {{ sublevelNavItem("Heatmap", url_for('components.heatmap')) }}
      {{ sublevelNavItem("Hero", url_for('components.hero')) }}
      {{ sublevelNavItem("Highlight box", url_for('components.highlight_box')) }}
      {{ sublevelNavItem("Hubs", url_for('components.hub')) }}
      {{ sublevelNavItem("Info text", url_for('components.info_text')) }}
      {{ sublevelNavItem("Input copy", url_for('components.input_copy')) }}
      {{ sublevelNavItem("Lists", url_for('components.lists')) }}
      {{ sublevelNavItem("Page feedback", url_for('components.page_feedback')) }}
      {{ sublevelNavItem("Pagination", url_for('components.pagination')) }}
      {{ sublevelNavItem("Panels", url_for('components.panels')) }}
      {{ sublevelNavItem("Related items", url_for('components.related_items')) }}
      {{ sublevelNavItem("Search", url_for('components.search')) }}
      {{ sublevelNavItem("Tabs", url_for('components.tabs')) }}
      {{ sublevelNavItem("Tags", url_for('components.tags')) }}
      {{ sublevelNavItem("Task list", url_for('components.task_list')) }}
      {{ sublevelNavItem("Timeline", url_for('components.timeline')) }}
      {{ sublevelNavItem("Visualising data", url_for('components.visualising_data')) }}
    </ul> 

  </nav>

  {% from "dl-macros/back-to-top.html" import backToTop %}
  {{ backToTop() }}

</div>