<ul class="collection-list">
    <li class="technical-summary-card">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body-s govuk-!-margin-bottom-1">Collection:</p>
            <h3 class="technical-summary-card__title govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-0"><a href="" class="govuk-link">Region-collection</a></h3>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Last run:</p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">22/05/2020</p>
                    <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-padding-top-1"><a href="#" class="govuk-link">See earlier runs</a></p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Endpoint results:</p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">
                        <span class="technical-summary-card__result technical-summary-card__result--success">5 succeeded</span>
                        <span class="technical-summary-card__result technical-summary-card__result--fail"><a href="#" class="govuk-link--text-colour">5 failed</a></span>
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="technical-summary-card__section">
                        <a href="#" class="govuk-link--text-colour">909 resources</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="technical-summary-card">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body-s govuk-!-margin-bottom-1">Collection:</p>
            <h3 class="technical-summary-card__title govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-0"><a href="" class="govuk-link">Region-collection</a></h3>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Last run:</p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">22/05/2020</p>
                    <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-padding-top-1"><a href="#" class="govuk-link">See earlier runs</a></p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Endpoint results:</p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">
                        <span class="technical-summary-card__result technical-summary-card__result--success">5 succeeded</span>
                        <span class="technical-summary-card__result technical-summary-card__result--fail"><a href="#" class="govuk-link--text-colour">5 failed</a></span>
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="technical-summary-card__section">
                        <a href="#" class="govuk-link--text-colour">909 resources</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>