{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block pageTitle %}Lists - Digital land frontend design{% endblock %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Collection summary cards{% endblock %}

{% block componentContent %}

  <p class="govuk-body">This component is used on the <a href="https://digital-land.github.io/collection/" class="govuk-link">digital land collection pages</a>.</p><p class="govuk-body">It presents details about an entity we call a collection. Depending on the context the content that is displayed in the summary card may change.</p>

  <h3 class="govuk-heading-m">Limited summary</h3>
  <p class="govuk-body">Limited summary showing details of last run.</p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of a list of collections using the summary card component",
      "size": "l",
      "url": url_for('components.collection_summary_card_collections_example')
    },
    "partial": {
      "name": 'dl-component-examples/collection-summary-card/collections-partial.html',
      "html": true
    }
  }) }}

  <h3 class="govuk-heading-m">Complete run summary</h3>
  <p class="govuk-body">A summary showing all the details and results of a run.</p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of a fuller collection summary card component",
      "size": "s",
      "url": url_for('components.collection_summary_card_example_full')
    },
    "partial": {
      "html": true,
      "name": 'dl-component-examples/collection-summary-card/partial-full.html'
    }
  }) }}


{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  // Initialise tabs
var $tabs = document.querySelectorAll('[data-module="app-tabs"]')
$tabs.forEach(function ($tab) {
  new DLFrontend.AppTabs($tab).init()
})
</script>
{% endblock bodyEnd %}
