{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block pageTitle %}Lists - Digital land frontend design{% endblock %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Collection summary cards{% endblock %}

{% block componentContent %}

  <h3 class="govuk-heading-m">Limited summary</h3>
  <p class="govuk-body">Limited summary showing details of last run.</p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of the collection summary card component",
      "size": "s",
      "url": url_for('components.collection_summary_card_example')
    },
    "partial": {
      "name": 'dl-component-examples/collection-summary-card/partial.html'
    }
  }) }}

  <h3 class="govuk-heading-m">Full summary</h3>
  <p class="govuk-body">Fuller summary showing all the details of a run.</p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of a fuller collection summary card component",
      "size": "s",
      "url": url_for('components.collection_summary_card_example_full')
    },
    "partial": {
      "name": 'dl-component-examples/collection-summary-card/partial-full.html'
    }
  }) }}

  {{ designSystemExample({
    "iframe": {
      "title": "An example of a fuller collection summary card component",
      "size": "s",
      "url": url_for('components.collection_summary_card_collections_example')
    },
    "partial": {
      "name": 'dl-component-examples/collection-summary-card/collections-partial.html'
    }
  }) }}


{% endblock %}