certifi==2020.6.20
chardet==3.0.4
Click==7.0
decorator==4.4.2
Flask==1.0.2
-e git+https://github.com/digital-land/govuk-jinja-components.git@c16835998e4af6cb8f557c400cedff2a4d95e0a4#egg=govuk_jinja_components
gunicorn==19.9.0
idna==2.10
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
python-dotenv==0.9.1
requests==2.24.0
six==1.15.0
urllib3==1.25.9
validators==0.15.0
Werkzeug==0.15.3
