Click==7.0
Flask==1.0.2
-e git+https://github.com/digital-land/govuk-jinja-components.git@23e4e97f3d929e59f01deee077159a118df1144e#egg=govuk_jinja_components
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
python-dotenv==0.9.1
Werkzeug==0.15.3
