Click==7.0
decorator==4.4.2
Flask==1.0.2
-e git+https://github.com/digital-land/govuk-jinja-components.git@c16835998e4af6cb8f557c400cedff2a4d95e0a4#egg=govuk_jinja_components
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
python-dotenv==0.9.1
six==1.15.0
validators==0.15.0
Werkzeug==0.15.3
