.back-to-top {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
}

@include govuk-media-query($from: tablet) {
  .back-to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: govuk-spacing(8);
  }

  .js-enabled .back-to-top--fixed {
    position: fixed;
    top: calc(100% - #{govuk-spacing(8)});
    bottom: auto;
    left: auto;
  }

  .js-enabled .back-to-top--hidden .back-to-top__link {
    @include govuk-visually-hidden-focusable;
  }
}

.back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -(govuk-spacing(1));
  margin-right: govuk-spacing(2);
  vertical-align: middle;
}

.js-enabled {
  .back-to-top--banner {
    box-sizing: border-box;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 15px;
    transition: background .15s ease-in;
    background: govuk-colour("light-grey");
    @include govuk-media-query($from: tablet) {
      padding: 10px 45px;
    }
  }
}
