.chart-bar__row {
  margin-bottom: 5px;

  &--spaced {
    margin-bottom: 15px;
  }
}

.chart-bar {
  position: relative;
}

.chart-bar__label {
  margin-bottom: 0;
  padding: 10px 0;
  line-height: govuk-em(22, 19);

  &--small-text {
    @include govuk-font($size: 16, $weight: bold);
  }

  &--long {
    padding: 2px 0;
    overflow-x: scroll;
    box-shadow: inset -7px 0 6px -6px rgba(govuk-colour("dark-grey"), .45);
  }
}

.chart-bar__part {
  box-sizing: border-box;
  height: 44px;
  float: left;
  background: govuk-colour("turquoise");
}

.chart-bar__part--housing {
  background: govuk-colour("light-pink");
}

.chart-bar__part--planning {
  background: govuk-colour("light-blue");
}

.chart-bar__part--default,
.chart-bar__part--development-corporation {
  background: govuk-colour("mid-grey");
}

.chart-bar__part--inquiry {
  background: govuk-colour("orange");
}

@mixin bar-color($color) {
  .chart-bar__part {
    background: govuk-colour($color);
  }
}

.chart-bar--light-blue {
  @include bar-color("light-blue");
}

.chart-bar--blue {
  @include bar-color("blue");
}

.chart-bar--dark-blue {
  @include bar-color("dark-blue");
}

.chart-bar__value {
  position: absolute;
  top: 0;
  left: 15px + 10px;
  @include govuk-font($size: 24);
  line-height: (44 / 24);

  @include govuk-media-query($from: tablet) {
    line-height: (44 / 24);
  }
}

