// Highlight-box
//
// A clickable box, should be a link
// as seen on: https://www.registers.service.gov.uk/registers/local-authority-eng;

.highlight-box {
  box-sizing: border-box;
  display: block;
  max-width: 30em;
  margin: 0 $govuk-gutter-half;
  padding: 20px;
  border: 1px solid govuk-colour("grey-2");
  background: govuk-colour("grey-4");
  text-decoration: none;

  @include govuk-media-query($from: tablet) {
    padding: $govuk-gutter;
  }

  &:hover {
    border-color: govuk-colour("blue");
    box-shadow: 0 0 0 1px govuk-colour("blue");
  }

  &:link .highlight-box__title {
    color: $govuk-link-colour;
  }

  &:visited .highlight-box__title {
    color: $govuk-link-visited-colour;
  }

  &:hover .highlight-box__title {
    color: $govuk-link-hover-colour;
  }

  &:active .highlight-box__title {
    color: $govuk-link-active-colour;
  }

  // should we make this a darker blue instead of black
  // would that be more consistent with links ?
  &:focus .highlight-box__title {
    color: $govuk-focus-text-colour;
  }

  p {
    color: $govuk-text-colour;
  }
}

.highlight-box--flush {
  margin-left: 0;
}

.highlight-box--gap {
  padding: 19px;
  border-width: 2px;
  border-style: dashed;

  .highlight-box__title {
    margin: 0;
    color: $govuk-text-colour !important;
  }

  p {
    color: $govuk-secondary-text-colour;
  }

  &:hover {
    .highlight-box__title {
      color: $govuk-text-colour !important;
    }

    p {
      color: $govuk-text-colour;
    }
  }
}

