.org-count + .org-count {
  margin-top: $govuk-gutter * 1.5;
}

.org-count__name {
  margin-bottom: 0;
}

.org-count__wrapper {
  margin-top: -5px;
}

.org-list {
  padding-left: 0;

  &__item {
    list-style: none;
    @include govuk-responsive-margin(3, "bottom");
    @include govuk-responsive-padding(3, "bottom");
    border-bottom: 1px solid $govuk-border-colour;
  }
}
