@import "components/bfs-popup";

// 25% tint of govuk-colour('yellow')
$warning-tint-colour: #fff7bf;

.map-wrapper {
  position: relative;
  padding-top: 30px;
}

$govuk-tag-dark-blue: #144e81;
$govuk-tag-light-blue: #d2e2f1;

.map__site-count {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  @include govuk-font($size: 16);
  padding: 5px 8px;
  //color: $govuk-tag-dark-blue;
  background: $govuk-tag-light-blue;

  &--warning {
    color: $govuk-text-colour;
    background: $warning-tint-colour;
  }
}

$bfs-brown: #594d00;

.map-key {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background: govuk-colour("white");
  box-shadow: 0 0 3px 0 rgba(govuk-colour("dark-grey"), .75);
  @include govuk-font($size: 14);

  .bfs-pt__container {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-end;
    justify-content: center;

    .ellipsis {
      padding: 0 15px;
      color: govuk-colour("mid-grey");
      font-size: 48px;
      line-height: 24px;
    }
  }

  .bfs-pt {
    box-sizing: border-box;
    position: relative;
    width: 8px;
    height: 8px;
    border: 4px solid $bfs-brown;
    border-radius: 50%;
    background: rgba($bfs-brown, .2);

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -4px;
      width: calc(100% + 7px);
      height: 5px;
      border: 1px solid govuk-colour("mid-grey");
      border-top-width: 0;
    }

    &--small {
      border-width: 3px;

      &:after {
        //bottom: -11px;
        left: -3px;
        width: calc(100% + 4px);
        height: 4px;
      }
    }

    &--large {
      width: 30px;
      height: 30px;
    }

  }

  .map-key__entry__label {
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 700;
  }
}
