.dlf-pagination {
  display: block;
  margin: ($govuk-gutter * 1.5) 0 $govuk-gutter;

  &--flush {
    margin-top: 0;
  }
}


.dlf-pagination__list {
  margin: 0;
  padding: 0;

  &--no-border {
    .dlf-pagination__item:first-of-type .dlf-pagination__link-title {
      border-top: 0;
    }
  }
}

.dlf-pagination__item {
  @include govuk-font($size: 16, $line-height: (20 / 16));
  margin-bottom: 20px;
  list-style: none;
}

.dlf-pagination__link {
  @extend %govuk-link;
  display: block;
  padding: 0 0 20px;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: $govuk-link-colour;
  }

  &:hover {
    background-color: govuk-colour("light-grey", $legacy: "grey-4");
  }

  &:focus,
  &:active {
    @include govuk-focused-text;
  }
}

.dlf-pagination__link-title {
  display: block;
  padding-top: $govuk-gutter-half;
  border-top: 1px solid $govuk-border-colour;
}

.dlf-pagination__link-divider {
  @include govuk-visually-hidden;
}

.dlf-pagination__link-text {
  @include govuk-font($size: 19, $weight: bold);
  margin-left: $govuk-gutter / 3;
}

.dlf-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: (33.75 / 27));
  display: inline-block;
  width: .63em;
  height: .482em;
  margin-bottom: 1px;
  fill: govuk-colour("mid-grey");
}

.dlf-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  margin-left: $govuk-gutter;
  text-decoration: underline;

  @include govuk-media-query($until: tablet) {
    margin-left: $govuk-gutter-half + 9;
  }
}
