.govuk-panel__body {
  @include govuk-font($size: 36);

  p:last-child {
    margin-bottom: 0;
  }
}

.govuk-panel {
  .govuk-panel__link {
    @include govuk-font($size: 24);

    &:link,
    &:visited {
      color: $govuk-body-background-colour;
    }
  }
}

.govuk-panel--confirmation {
  color: $govuk-body-background-colour;
  background: govuk-color("turquoise");
}

.govuk-panel--error {
  border: 8px solid govuk-colour("red");
  color: $govuk-text-colour;
  background: $govuk-canvas-background-colour;
}

.govuk-panel--warning {
  border: 8px solid govuk-colour("yellow");
  color: $govuk-text-colour;
  background: $govuk-canvas-background-colour;
}

.metadata-panel {
  margin-bottom: 10px;
  padding: 20px 30px;
  color: govuk-colour("white");
  background: govuk-colour("blue");
  @include govuk-font($size: 16, $line-height: 24px);

  a {
    &:link,
    &:hover {
      color: $govuk-body-background-colour;
    }

    &:visited {
      color: darken($govuk-body-background-colour, 5);
    }

    &:active,
    &:focus {
      @include govuk-focused-text;
    }
  }
}

.feedback-panel {
  margin-bottom: 10px;
  padding: 20px 30px;
  color: govuk-colour("white");
  background: govuk-colour("blue");
  @include govuk-font($size: 19, $line-height: 24px);

  .feedback-panel__heading {
    @include govuk-font($size: 24, $weight: bold);
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    &:link,
    &:hover {
      color: $govuk-body-background-colour;
    }

    &:visited {
      color: darken($govuk-body-background-colour, 5);
    }

    &:active,
    &:focus {
      @include govuk-focused-text;
    }
  }
}
