// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.app-related-items {
  padding-top: 10px;
  border-top: 10px solid govuk-colour("blue");

  &--small {
    padding-top: 15px;
    border-top-width: 2px;
  }
}

// Below added because: Frontend breaking changes
.app-related-items .govuk-heading-m {
  margin-top: 0;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}
