{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/components") }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts", true) }}
{% endblock %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  <div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

      <ul class="app-subnav__section">
        {{ sublevelNavItem("Buttons", url_for('frontend.buttons')) }}
        {{ sublevelNavItem("Contents section", url_for('frontend.contents_section')) }}
        {{ sublevelNavItem("Contribution bars", url_for('frontend.contribution_bars')) }}
        {{ sublevelNavItem("Hero", url_for('frontend.hero')) }}
        {{ sublevelNavItem("Highlight box", url_for('frontend.highlight_box')) }}
        {{ sublevelNavItem("Info text", url_for('frontend.info_text')) }}
        {{ sublevelNavItem("Pagination", url_for('frontend.pagination')) }}
        {{ sublevelNavItem("Panels", url_for('frontend.panels')) }}
        {{ sublevelNavItem("Related items", url_for('frontend.related_items')) }}
        {{ sublevelNavItem("Search", url_for('frontend.search')) }}
        {{ sublevelNavItem("Tabs", url_for('frontend.tabs')) }}
        {{ sublevelNavItem("Task List", url_for('frontend.task_list')) }}
      </ul> 

    </nav>
  </div>

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <span class="govuk-caption-xl">Component</span>
        <h1 class="govuk-heading-xl">
          Buttons
        </h1>
      </div>

      <p class="govuk-body">All buttons should include the standard <code>govuk-button</code> class. For the style varieties add the extra classes listed.</p>

      <div class="govuk-heading-m">.govuk-button .govuk-button--start</div>
      <div class="govuk-form-group">
        <button class="govuk-button govuk-button--start">Start now</button>
      </div>

      <div class="govuk-heading-m">.dlf-secondary-button</div>
      <div class="govuk-form-group">
        <button class="govuk-button dlf-secondary-button">Secondary</button>
      </div>

      <div class="govuk-heading-m">.dlf-filter-button</div>
      <div class="govuk-form-group">
        <button class="govuk-button dlf-filter-button">Filter</button>
      </div>

      <div class="govuk-heading-m">.link-align-button</div>
      <p class="govuk-body">Use the link class to align links to a button. It is primarily used for secondary/destructive actions. It is useful for things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Resetting forms</li>
        <li>Cancelling editable sections</li>
        <li>Refreshing the lucky dip page</li>
      </ul>
      <div class="module-example">
        <div class="govuk-form-group">
          <button class="govuk-button">Save</button>
          <a href="" class="link-align-btn">Cancel</a>
        </div>
      </div>

    </main>
  </div>
</div>

{% endblock %}