{% extends "dlf-base.html" %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
     {
       "text": "Styleguide",
       "href": url_for("frontend.index")
     },
     {
       "text": "Buttons"
     }
   ]
 }) }}

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">
  Buttons
</h1>

<p class="govuk-body">All buttons should include the standard <code>govuk-button</code> class. For the style varieties add the extra classes listed.</p>

<div class="govuk-heading-m">govuk-button govuk-button--start</div>
<div class="govuk-form-group">
  <button class="govuk-button govuk-button--start">Start now</button>
</div>

<div class="govuk-heading-m">.dlf-secondary-button</div>
<div class="govuk-form-group">
  <button class="govuk-button dlf-secondary-button">Secondary</button>
</div>

<div class="govuk-heading-m">.dlf-filter-button</div>
<div class="govuk-form-group">
  <button class="govuk-button dlf-filter-button">Filter</button>
</div>
{% endblock %}