{% extends "styleguide-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/component-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Components
        </h1>
      </div>

    <h2 class="govuk-heading-l">DL frontend styles</h2>

    <p class="govuk-body">A number of components have been created to be used with digital land prototypes and projects.</p>

    </main>  
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
// Initialise back to top
var $btt = document.querySelector('[data-module*="back-to-top"]')
new window.DLFrontend.BackToTop($btt).init({
  footer_selector: ".govuk-footer"
});
</script>
{% endblock %}