{% extends "dlf-base.html" %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
     {
       "text": "Styleguide",
       "href": url_for("frontend.index")
     },
     {
       "text": "Contribution bars"
     }
   ]
 }) }}

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">
  Contribution bars
</h1>

<p class="govuk-body">You can add inline bars like this</p>

<div class="module-example">
  {% include 'partials/contribution-bar.html' %}
</div>

<p class="govuk-body">Using:</p>

<pre>
<code class="html">
  {%- filter forceescape -%}
    {%- include 'partials/contribution-bar.html' -%}
  {%- endfilter -%}
</code>
</pre>

<p class="govuk-body">Smaller bars can be handled by adding the <code>.contribution-bar--small</code> class. E.g.</p>

<div class="module-example">
  {% include 'partials/contribution-bar-small.html' %}
</div>

<p class="govuk-body">Using:</p>

<pre>
<code class="html">
  {%- filter forceescape -%}
    {%- include 'partials/contribution-bar-small.html' -%}
  {%- endfilter -%}
</code>
</pre>

{% endblock %}