{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
{{ toplevelNavItem("Get started", "/") }}
{{ toplevelNavItem("Components", "/component", true) }}
{{ toplevelNavItem("Content", "/publishing") }}
{{ toplevelNavItem("Jinja", "/jinja") }}
{{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block content %}

<div class="app-nav__body govuk-width-container">
    {%- include 'menu-partials/component-menu.html' -%}

    <div class="app-nav__content">
        <main id="main-content" class="app-content" role="main">
            <div class="app-content__header">
                <span class="govuk-caption-xl">Component</span>
                <h1 class="govuk-heading-xl">
                    Data tables
                </h1>
            </div>

            <div class="data-table__wrapper" data-module="data-table">
                <div class="data-table-left-shadow"></div>
                <div class="wide-table">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th scope="col" class="">Deliverable</th>
                                <th scope="col" class="" aria-sort="none">EndDate</th>
                                <th scope="col" class="" aria-sort="none">FirstAddedDate</th>
                                <th scope="col" class="" aria-sort="none">GeoX</th>
                                <th scope="col" class="" aria-sort="none">GeoY</th>
                                <th scope="col" class="">HazardousSubstances</th>
                                <th scope="col" class="" aria-sort="none">Hectares</th>
                                <th scope="col" class="" aria-sort="none">LastUpdatedDate</th>
                                <th scope="col" class="" aria-sort="none">NetDwellingsRangeFrom</th>
                                <th scope="col" class="" aria-sort="none">NetDwellingsRangeTo</th>
                                <th scope="col" class="">Notes</th>
                                <th scope="col" class="">OrganisationURI</th>
                                <th scope="col" class="">OwnershipStatus</th>
                                <th scope="col" class="">PermissionDate</th>
                                <th scope="col" class="">PermissionType</th>
                                <th scope="col" class="">PlanningHistory</th>
                                <th scope="col" class="">PlanningStatus</th>
                                <th scope="col" class="">SiteNameAddress</th>
                                <th scope="col" class="" aria-sort="none">SiteReference</th>
                                <th scope="col" class="">SiteplanURL</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="data-table__missing">
                                    <span class="data-table__missing__label">Missing</span>
                                </td>
                                <td class="">51.441515</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.03">0.03</td>
                                <td class="">2017-12-13</td>
                                <td class="">9</td>
                                <td class="">9</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2009-12-11</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=08/0225/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">Pouparts Yard And Land Rear Of 84A Hampton Road Twickenham
                                </td>
                                <td class="">RBR/17/0001</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="data-table__missing">
                                    <span class="data-table__missing__label data-table__missing__label--v3">Missing</span>
                                </td>
                                <td class="">51.486913</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="17.98">17.98</td>
                                <td class="">2017-12-13</td>
                                <td class="">46</td>
                                <td class="">46</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2017-06-30</td>
                                <td class="">outline planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=08/1760/EXT
                                </td>
                                <td class="">permissioned</td>
                                <td class="">St Paul's School, Lonsdale Road, Barnes</td>
                                <td class="">RBR/17/0002</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="data-table__missing">
                                    <span class="data-table__missing__label data-table__missing__label--v2">Missing</span>
                                </td>
                                <td class="">51.452894</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.03">0.03</td>
                                <td class="">2017-12-13</td>
                                <td class="">9</td>
                                <td class="">9</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2014-10-20</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=10/1864/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">84 Whitton Road Twickenham TW1 1BS</td>
                                <td class="">RBR/17/0006</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="data-table__missing data-table__missing--v2">
                                    <span class="data-table__missing__label data-table__missing__label--v3">Missing</span>
                                </td>
                                <td class="">51.413429</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.2">0.2</td>
                                <td class="">2017-12-13</td>
                                <td class="">11</td>
                                <td class="">11</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2011-03-07</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=11/0468/PS192
                                </td>
                                <td class="">permissioned</td>
                                <td class="">Becketts Wharf And Osbourne House Becketts Place Hampton
                                    Wick
                                </td>
                                <td class="">RBR/17/0007</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.32931</td>
                                <td class="">51.450536</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="1.18">1.18</td>
                                <td class="">2017-12-13</td>
                                <td class="">115</td>
                                <td class="">115</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2012-03-30</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=11/1443/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">Twickenham Railway Station London Road Twickenham</td>
                                <td class="">RBR/17/0008</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.330368</td>
                                <td class="">51.447961</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.01">0.01</td>
                                <td class="">2017-12-13</td>
                                <td class="">7</td>
                                <td class="">7</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2012-03-30</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=11/3248/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">37 Grosvenor Road Twickenham TW1 4AD</td>
                                <td class="">RBR/17/0009</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.341675</td>
                                <td class="">51.44769</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.02">0.02</td>
                                <td class="">2017-12-13</td>
                                <td class="">9</td>
                                <td class="">9</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2015-06-23</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=14/0157/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">Lockcorp House 75 Norcutt Road Twickenham TW2 6SR</td>
                                <td class="">RBR/17/0011</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.296573</td>
                                <td class="">51.427997</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="2.53">2.53</td>
                                <td class="">2017-12-13</td>
                                <td class="">42</td>
                                <td class="">42</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2015-01-05</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=14/0451/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">HMP Latchmere House Church Road Ham Richmond TW10 5HH</td>
                                <td class="">RBR/17/0012</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.253709</td>
                                <td class="">51.470539</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.1">0.1</td>
                                <td class="">2017-12-13</td>
                                <td class="">5</td>
                                <td class="">5</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2014-12-18</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=14/2490/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">29 Charles Street Barnes London</td>
                                <td class="">RBR/17/0014</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.339641</td>
                                <td class="">51.425998</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.01">0.01</td>
                                <td class="">2017-12-13</td>
                                <td class="">5</td>
                                <td class="">5</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2015-04-20</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=14/3011/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">2 Broad Street Teddington TW11 8RF</td>
                                <td class="">RBR/17/0015</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.303943</td>
                                <td class="">51.463588</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.12">0.12</td>
                                <td class="">2017-12-13</td>
                                <td class="">8</td>
                                <td class="">8</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2015-04-30</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=14/3780/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">Richmond Film Services Park Lane Richmond TW9 2RA</td>
                                <td class="">RBR/17/0016</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <td class="">yes</td>
                                <td class="">None</td>
                                <td class="">2017-12-13</td>
                                <td class="">-0.253471</td>
                                <td class="">51.467703</td>
                                <td class="">None</td>
                                <td class="" data-sort-value="0.01">0.01</td>
                                <td class="">2017-12-13</td>
                                <td class="">8</td>
                                <td class="">8</td>
                                <td class="">None</td>
                                <td class="">
                                    http://opendatacommunities.org/id/london-borough-council/richmond</td>
                                <td class="">None</td>
                                <td class="">2015-07-30</td>
                                <td class="">full planning permission</td>
                                <td class="">
                                    http://www2.richmond.gov.uk/PlanData2/Planning_CaseNo.aspx?strCASENO=14/4721/FUL
                                </td>
                                <td class="">permissioned</td>
                                <td class="">97A White Hart Lane Barnes London SW13 0JL</td>
                                <td class="">RBR/17/0017</td>
                                <td class="">https://maps.london.gov.uk/brownfield-site-register</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="data-table-right-shadow"></div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div>
                <div class="data-table__wrapper" data-module="data-table">
                    {% include "partials/data-tables.html" %}
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div>
                <div class="data-table__wrapper" data-module="data-table data-linkable-table">
                    {% include "partials/data-tables.html" %}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}

{% set includeJQuery = "true" %}
{% block bodyEnd %}
{{ includeJQuery }}
{{ super() }}
<script src="/static/javascripts/vendor/MOJFrontend.SortableTable.js"></script>
<script>
    // Initialise back to top
    var $data_tables = document.querySelectorAll('[data-module="data-table"]')
    $data_tables.forEach(data_table => {
        new window.DLFrontend.ScrollableTables(data_table).init()
    })
</script>

<script>
(function($) {
    $(function() {
        var sTable = new MOJFrontend.SortableTable({
            table: $('table')[1],
            statusVisible: true,
            tableWrapperSelector: ".data-table__wrapper"
        });
        console.log(sTable);
    });
}(jQuery));
</script>

<script>
var $linkable_tables = document.querySelectorAll('[data-module*="data-linkable-table"]')
$linkable_tables.forEach(linkable_table => {
    new window.DLFrontend.LinkableTable(linkable_table).init()
})
</script>

{% endblock %}