{% extends "base.html" %}
{% from "govuk-jinja-components/phase-banner/macro.jinja" import govukPhaseBanner %}
{% from "govuk-jinja-components/breadcrumbs/macro.jinja" import govukBreadcrumbs %}
{% from "dl-macros/page-feedback/macro.jinja" import dlfPageFeedback %}

{% block head %}
<link href="{{ staticPath | default('/static') }}/stylesheets/dl-frontend.css" rel="stylesheet" />
{% endblock %}

{% block header %}
{% include 'dl-partials/cookie-banner.html' %}
{% include 'dl-partials/dl-header.html' %}
{% endblock%}


{% block bodyEnd %}
	{%- block googleAnalytics -%}
	<script src="{{ staticPath | default('/static') }}/javascripts/dl-cookies.js"></script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- end google analytics -->
	{% endblock googleAnalytics %}

	{#- optional jQuery include -#}
	{%- if includeJQuery == "true" -%}
	<script src="{{ staticPath | default('/static') }}/javascripts/vendor/jquery-3.4.1.min.js"></script>
	{% endif %}

	<script src="{{ staticPath | default('/static') }}/javascripts/govuk/govuk-frontend-3.0.0.min.js"></script>
	<script>
		// initiate all GOVUK components
		window.GOVUKFrontend.initAll();
	</script>

	{% block bodyEndScripts %}
	{# needs to come after govuk frontend #}
	<script src="{{ staticPath | default('/static') }}/javascripts/dl-frontend.js"></script>
	<script>
		// adds any necessary polyfills
		window.DLFrontend.polyfill();
	</script>
	{% endblock %}

{% endblock %}
