{% extends "styleguide-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}
{% from "dl-macros/page-feedback/macro.jinja" import dlfPageFeedback %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  <div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

      <ul class="app-subnav__section">
        {{ sublevelNavItem("Inset text", "#inset-text") }}
        {{ sublevelNavItem("Contents section", "#contents-section") }}
        {{ sublevelNavItem("Pagination", "#pagination") }}
        {{ sublevelNavItem("CTA highlight box", "#cta-highlight-box") }}
        {{ sublevelNavItem("Page feedback", "#page-feedback") }}
      </ul> 

    </nav>
  </div>

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">Publishing components</h1>
      </div>

      <p class="govuk-body">We have added a number of components that can be used when creating guidance pages.</p>
      <p class="govuk-body">Some have been taken from govspeak for consistency with the guidance pages on <a href="http://gov.uk">GOV.UK</a>.</p>

      <h2 class="govuk-heading-m" id="inset-text">Inset text</h2>

      <div class="module-example">
        <div class="govuk-inset-text">
          <p>To complete step 1 you must be able to create or amend .csv files, for example by using spreadsheet software.</p>
        </div>
      </div>

      <h3 class="govuk-heading-s">What to put in your markdown</h3>
<pre>
<code class="markdown">
{%- raw -%}
{{% inset-text %}}
To complete step 1 you must be able to create or amend .csv files, for example by using spreadsheet software.
{{% /inset-text %}}
{%- endraw -%}
</code>
</pre>

      <h2 class="govuk-heading-m" id="contents-section">Contents sections</h2>

      <div class="module-example">
        <div class="contents-section contents-section--multi-page">
          Contents
          <ul>
            <li><a href="http://localhost:1313/guidance/developer-contributions/">Publish your developer contributions data</a></li>
            <li>Step 1: Create your .csv files</li>
            <li><a href="http://localhost:1313/guidance/developer-contributions/update-your-developer-contributions-web-page/">Step 2: Update your developer contributions web page</a></li>
          </ul>
        </div>
      </div>

      <h3 class="govuk-heading-s">What to put in your markdown</h3>
<pre>
<code class="markdown">
{%- raw -%}
{{% contents %}}
- [Publish your developer contributions data]({{< ref "_index.md" >}})
- Step 1: Create your .csv files
- [Step 2: Update your developer contributions web page]({{< ref "update-your-developer-contributions-web-page.md" >}})
{{% /contents %}}
{%- endraw -%}
</code>
</pre>


      <h2 class="govuk-heading-m" id="pagination">Pagination</h2>

      <p class="govuk-body">Use the pagination component when associated content is split across multiple screens into a linear flow.</p>

      <p class="govuk-body">We use it on guidance pages, such as on the <a href="https://digital-land.github.io/guidance/developer-contributions/" class="govuk-link">developer contributions guidance</a>.</p>

      <div class="module-example">
        {% include 'partials/pagination.html' %}
      </div>

      <h3 class="govuk-heading-s">What to put in your markdown</h3>
<pre>
<code class="markdown">
{%- raw -%}
{{% pagination-component %}}
  {{% pagination-prev href="_index.md" text="Publish your developer contributions data" %}}
  {{% pagination-next href="update-your-developer-contributions-web-page.md" text="Step 2: Update your developer contributions web page" %}}
{{% /pagination-component %}}
{%- endraw -%}
</code>
</pre>

      <h2 class="govuk-heading-m" id="cta-highlight-box">CTA highlight box</h2>

      <div class="module-example">
        {% include 'partials/highlight-box-cta.html' %}
      </div>

      <h3 class="govuk-heading-s">What to put in your markdown</h3>
<pre>
<code class="markdown">
{%- raw -%}
{{% cta-box %}}
Read the latest guidance on [Brownfield site registers](#some-url).
{{% /cta-box %}}
{%- endraw -%}
</code>
</pre>

      <h2 class="govuk-heading-m" id="page-feedback">Page feedback</h2>

      <div class="module-example">
        <div class="dlf-pg-feedback">
          <div class="dlf-pg-feedback__prompt">
            <a href="#" class="dlf-pg-feedback__link">Do you have feedback about this page?</a>
          </div>
        </div>
      </div>

      <h3 class="govuk-heading-s">What to put in your markdown</h3>
      <p class="govuk-body">To add to a page you need to add a <code>pageFeedback</code> attribute to the frontmatter of the markdown file. E.g.</p>
<pre>
<code class="markdown">pageFeedback: true</code>
</pre>
  
    </main>
  </div>
</div>


{% endblock %}

{% block footer %}
  {{ dlfPageFeedback({
    "text": "Do you have feedback about this page?",
    "href": "#"
  }) }}
  {{ super() }}
{% endblock %}