{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}
{% from "dl-macros/design-system-example.html" import designSystemExample %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/component-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <span class="govuk-caption-xl">Component</span>
        <h1 class="govuk-heading-xl">
          Hero
        </h1>
      </div>

      <p class="govuk-body">A component for producing a full width hero banner. Usually used on a landing page for a service, project or team.</p>

    {{ designSystemExample({
      "iframe": {
        "title": "test",
        "url": url_for('components.hero_example')
      },
      "partial": {
        "name": 'partials/hero.html'
      }
    }) }}

    </main>
  </div>
</div>

{% endblock %}