{% extends "dlf-base.html" %}

{% block content %}
<h1 class="govuk-heading-xl">
  Digital land frontend
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Jinja components</h2>

    <p class="govuk-body">There are some differences between Nunjucks and Jinja templates. These differences mean the GOVUK design system components need to be altered to work with Jinja.</p>

    <p class="govuk-body">The following have been altered:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Breadcrumbs</li>
      <li>Footer</li>
      <li>Header</li>
      <li>Inset text</li>
      <li>Phase banner</li>
      <li>Skip link</li>
      <li>Tabs</li>
      <li>Tag</li>
      <li>Warning text</li>
    </ul>

    
    <h2 class="govuk-heading-l">DL Frontend styles</h2>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="{{ url_for('frontend.buttons') }}">Buttons</a></li>
      <li><a class="govuk-link" href="{{ url_for('frontend.contribution_bars') }}">Contribution bars</a></li>
      <li><a class="govuk-link" href="{{ url_for('frontend.hero') }}">Hero</a></li>
      <li><a class="govuk-link" href="{{ url_for('frontend.task_list') }}">Task List</a></li>
    </ul>

    <h2 class="govuk-heading-l">DL Javascripts</h2>
    <ul class="dlf-list">
      <li class="dlf-list-item">
        <h4 class="govuk-heading-s dlf-list-item__heading"><a class="govuk-link" href="{{ url_for('frontend.mhclg_maps') }}">MHCLG Maps</a></h4>
        <p class="govuk-body">A wrapper for leafletJS that makes it quicker to render a map.</p>
      </li>
      <li class="dlf-list-item">
        <h4 class="govuk-heading-s dlf-list-item__heading"><a class="govuk-link" href="{{ url_for('frontend.accessible_autocomplete') }}">Accessible Autocomplete</a></h4>
        <p class="govuk-body">Turns select elements into autocomplete fields.</p>
      </li>
    </ul>

  </div>
</div>

{% endblock %}