{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/guide-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Digital land frontend
        </h1>
      </div>

      <p class="govuk-body-l">A collection of resources and reusable parts created for the <a href="https://digital-land.github.io/" class="govuk-link">digial land</a> team.</p>
  
    </main>
  </div>
</div>
{% endblock %}