{% extends "dl-components-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Info text{% endblock %}

{% block componentContent %}

  <p class="govuk-body">This component is based on the <code>govuk-warning-text</code> component from the <a href="https://design-system.service.gov.uk/components/warning-text/">GOVUK design system</a>. It should be used when giving the user supplementary information.</p>

  <h2 class="govuk-heading-m">Example</h2>
  <div class="module-example">
    {% include 'partials/info-text.html' %}
  </div>

  <h2 class="govuk-heading-m">The HTML you need</h2>
  <pre>
  <code class="html">
    {%- filter forceescape -%}
      {%- include 'partials/info-text.html' -%}
    {%- endfilter -%}
  </code>
  </pre>

{% endblock %}