{% extends "styleguide-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/javascripts-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Javascripts
        </h1>
      </div>

      <p class="govuk-body">There are a few javascript components used with Digital land projects.</p>

      <ul class="dlf-list">
        <li class="dlf-list-item">
          <h4 class="govuk-heading-s dlf-list-item__heading"><a class="govuk-link" href="{{ url_for('frontend.dl_frontend') }}">DL Frontend</a></h4>
          <p class="govuk-body">A set of modules to progressively enhance components.</p>
        </li>
        <li class="dlf-list-item">
          <h4 class="govuk-heading-s dlf-list-item__heading"><a class="govuk-link" href="{{ url_for('frontend.back_to_top') }}">Back to top</a></h4>
          <p class="govuk-body">Progressively enhances back to top link, useful for long pages.</p>
        </li>
        <li class="dlf-list-item">
          <h4 class="govuk-heading-s dlf-list-item__heading"><a class="govuk-link" href="{{ url_for('frontend.mhclg_maps') }}">MHCLG Maps</a></h4>
          <p class="govuk-body">A wrapper for leafletJS that makes it quicker to render a map.</p>
        </li>
        <li class="dlf-list-item">
          <h4 class="govuk-heading-s dlf-list-item__heading"><a class="govuk-link" href="{{ url_for('frontend.accessible_autocomplete') }}">Accessible Autocomplete</a></h4>
          <p class="govuk-body">Turns select elements into autocomplete fields.</p>
        </li>
      </ul>

    </main>
  </div>
</div>

{% endblock %}