{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block pageTitle %}Lists - Digital land frontend design{% endblock %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/component-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <span class="govuk-caption-xl">Component</span>
        <h1 class="govuk-heading-xl">
          List
        </h1>
      </div>
  
      <h2 class="govuk-heading-l">Organisation lists</h2>
      <p class="govuk-body">A list layout useful for long lists that are grouped by an attribute, e.g. type. We use this pattern for organisations.</p>
      <div class="app-example-wrapper">
        <div class="app-example">
          <iframe 
            title="A list of organisations categorised by type example"
            data-module="app-example-frame"
            class="app-example__frame app-example__frame--resizable app-example__frame--l"
            src="/component/lists/organisation-example" loading="lazy" id="iFrameResizer3"
            scrolling="auto" frameborder="0"></iframe>
        </div>
        <div class="app-tabs__heading">
          <span>HTML</span>
        </div>
        <div class="app-tabs__container">
          <pre><code class="html">
              {%- filter forceescape -%}
{% include 'partials/list-organisations.html' %}
              {%- endfilter -%}
            </code></pre>
        </div>
      </div><!-- end app-example-wrapper -->

      <p class="govuk-body">This pattern is consistent with the <a href="https://www.gov.uk/government/organisations" class="govuk-link">list of departments</a> on GOV.UK.</p>

    </main>
  </div>
</div>

{% endblock %}


