{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}
{% from "dl-macros/design-system-example.html" import designSystemExample %}

{% block pageTitle %}Lists - Digital land frontend design{% endblock %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/component-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <span class="govuk-caption-xl">Component</span>
        <h1 class="govuk-heading-xl">
          List
        </h1>
      </div>
  
      <h2 class="govuk-heading-l">Organisation lists</h2>
      <p class="govuk-body">A list layout useful for long lists that are grouped by an attribute, e.g. type. We use this pattern for organisations.</p>

      {{ designSystemExample({
        "iframe": {
          "title": "A list of organisations categorised by type example",
          "size": "l",
          "url": url_for('components.organisation_list_example')
        },
        "partial": {
          "name": 'partials/list-organisations.html'
        }
      }) }}

      <p class="govuk-body">This pattern is consistent with the <a href="https://www.gov.uk/government/organisations" class="govuk-link">list of departments</a> on GOV.UK.</p>

    </main>
  </div>
</div>

{% endblock %}


