{% extends "dlf-base.html" %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
     {
       "text": "Styleguide",
       "href": url_for("frontend.index")
     },
     {
       "text": "Search"
     }
   ]
 }) }}

{% endblock %}

{% block content %}

<span class="govuk-caption-l">Component</span>
<h1 class="govuk-heading-l">Search</h1>

<h2 class="govuk-heading-m">Example</h2>
<div class="module-example">
  {% include 'partials/search-input.html' %}
</div>

<h2 class="govuk-heading-m">The HTML you need</h2>
<pre>
<code class="html">
  {%- filter forceescape -%}
    {%- include 'partials/search-input.html' -%}
  {%- endfilter -%}
</code>
</pre>

{% endblock %}