{% extends "dl-components-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Tabs{% endblock %}

{% block componentContent %}

  <h2 class="govuk-heading-m">Example</h2>
  <div class="module-example">
    {% include 'partials/tabs.html' %}
  </div>

  <h2 class="govuk-heading-m">The HTML you need</h2>
  <pre>
  <code class="html">
    {%- filter forceescape -%}
      {%- include 'partials/tabs.html' -%}
    {%- endfilter -%}
  </code>
  </pre>

{% endblock %}