{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/component-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <span class="govuk-caption-xl">Component</span>
        <h1 class="govuk-heading-xl">
          Tags
        </h1>
      </div>

      <div class="app-example-wrapper">
        <div class="app-example">
          <iframe 
            title="Linking from the error summary to an answer that uses multiple fields example"
            data-module="app-example-frame"
            class="app-example__frame app-example__frame--resizable app-example__frame--s"
            src="/component/tags/example" loading="lazy" id="iFrameResizer3"
            scrolling="auto" frameborder="0"></iframe>
        </div>
        <div class="app-tabs__heading">
          <span>HTML</span>
        </div>
        <div class="app-tabs__container">
          <pre><code class="html">
              {%- filter forceescape -%}
                {%- include 'partials/tags.html' -%}
              {%- endfilter -%}
            </code></pre>
        </div>
      </div>

    </main>
  </div>
</div>

{% endblock %}