{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Contribution Bars{% endblock %}

{% block componentContent %}

<p class="govuk-body">You can add inline bars like this</p>

<div class="module-example">
  {% include 'partials/contribution-bar.html' %}
</div>

<p class="govuk-body">Using:</p>

<pre>
<code class="html">
  {%- filter forceescape -%}
    {%- include 'partials/contribution-bar.html' -%}
  {%- endfilter -%}
</code>
</pre>

<p class="govuk-body">Smaller bars can be handled by adding the <code>.contribution-bar--small</code> class. E.g.</p>

<div class="module-example">
  {% include 'partials/contribution-bar-small.html' %}
</div>

<p class="govuk-body">Using:</p>

<pre>
<code class="html">
  {%- filter forceescape -%}
    {%- include 'partials/contribution-bar-small.html' -%}
  {%- endfilter -%}
</code>
</pre>

<div class="module-example">

  <div data-amount-type="not-received" class="contribution-box contribution-box--not-received">
    <div class="data">
      <span class="data-item govuk-!-font-size-36 govuk-!-font-weight-bold">£11,333,401</span>
      <span class="data-item bold-xsmall govuk-!-font-size-16 govuk-!-font-weight-bold">Not received</span>
    </div>
  </div>

  <br />

  <div data-amount-type="not-received" class="contribution-box contribution-box--small contribution-box--not-received">
    <div class="data">
      <span class="data-item govuk-!-font-size-36 govuk-!-font-weight-bold">£11,333,401</span>
      <span class="data-item bold-xsmall govuk-!-font-size-16 govuk-!-font-weight-bold">Not received</span>
    </div>
  </div>
</div>

{% endblock %}