{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
{{ toplevelNavItem("Get started", "/") }}
{{ toplevelNavItem("Components", "/component", true) }}
{{ toplevelNavItem("Content", "/publishing") }}
{{ toplevelNavItem("Jinja", "/jinja") }}
{{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Data tables{% endblock %}

{% block componentContent %}

<p class="govuk-tag">Experimental</p>

<p class="govuk-body-l">Use data tables to present data to users. Data tables should make it easier for users to scan and compare data quickly.</p>
<h2 class="govuk-heading-m">Basic data table example</h2>
<div>
    <div class="data-table__wrapper" data-module="data-table">
        {% include "partials/data-tables.html" %}
    </div>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-6">When to use a table</h2>

<p class="govuk-body">Use a table to playback data to a user. A user should be able to scan the data as well as compare values in rows and columns.</p>

<h2 class="govuk-heading-l govuk-!-margin-top-6">How data tables work</h2>

<p class="govuk-body">A data table should have a caption (<a href="https://webaim.org/techniques/tables/data">WebAIM guidance</a>).</p>

<p class="govuk-body">Sometimes the data we need to present back will be wider than the viewport of
    the browser, consider whether an alternative approach to a table could be used. If you use a
    wide table add shadow indicators to inform the user the table is scrollable.</p>

<p class="govuk-body">We stripe the rows to make them more scannable.</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-l">Data table enhancements</h2>
            <h3 class="govuk-heading-m">Sortable tables</h3>
            <p class="govuk-body">You can make any number of the columns in a table sortable. Sorting a table by a column will attempt to reorder all the rows.</p>
            <div>
                <div class="data-table__wrapper" data-module="data-table">
                    {% include "partials/data-tables.html" %}
                </div>
            </div>

            <h3 class="govuk-heading-m govuk-!-margin-top-6">How to use sortable tables</h3>
            <p class="govuk-body">Sorting is an enhancement and is applied to a table using javascript. Instantiate a table with:</p>

            <pre><code class="js">
            {%- filter forceescape -%}
<script>
(function($) {
    $(function() {
        var sTable = new MOJFrontend.SortableTable({
            table: $('table')[1],
            statusVisible: true,
            tableWrapperSelector: ".data-table__wrapper"
        });
    });
}(jQuery));
</script>
            {%- endfilter -%}</code></pre>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-m">Link to rows in a table</h3>
            <p class="govuk-body">You can progressively enhance a data table to make each row linkable. This helps with collaborating on a table.</p>
            <p class="govuk-body">Try clicking on one of the row reference links (e.g. #1).</p>
            <div>
                <div class="data-table__wrapper" data-module="data-table data-linkable-table" data-linkable-prefix="hltable">
                    {% include "partials/data-tables.html" %}
                </div>
            </div>
            <h3 class="govuk-heading-m govuk-!-margin-top-6">How to make a table linkable</h3>
            <p class="govuk-body">You need to add the following:</p>
            <pre><code class="js">
            {%- filter forceescape -%}
<script>
    var $linkable_tables = document.querySelectorAll('[data-module*="data-linkable-table"]')
    $linkable_tables.forEach(linkable_table => {
        new window.DLFrontend.LinkableTable(linkable_table).init()
    })
</script>
            {%- endfilter -%}</code></pre>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-m">Highlight issues in table</h3>
            <p class="govuk-body"></p>

            <div>
                <div class="data-table__wrapper" data-module="data-table data-linkable-table" data-linkable-prefix="overlaytable">
                    {% include "partials/data-tables-issues.html" %}
                </div>
            </div>

{% endblock %}

{% set includeJQuery = "true" %}
{% block bodyEnd %}
{{ super() }}
<script src="/static/javascripts/vendor/MOJFrontend.SortableTable.js"></script>

<script>
(function($) {
    $(function() {
        // bad
        const $tables = $('table');
        var sTable = new MOJFrontend.SortableTable({
            table: $tables[1],
            statusVisible: true,
            tableWrapperSelector: ".data-table__wrapper"
        });

        var sTable2 = new MOJFrontend.SortableTable({
            table: $tables[2],
            statusVisible: true,
            tableWrapperSelector: ".data-table__wrapper"
        });
    });
}(jQuery));
</script>

<script>
var $linkable_tables = document.querySelectorAll('[data-module*="data-linkable-table"]')
$linkable_tables.forEach(linkable_table => {
    const prefix = linkable_table.dataset.linkablePrefix;
    new window.DLFrontend.LinkableTable(linkable_table).init({
        idPrefix: prefix
    })
})
</script>

<script>
    // Initialise back to top
    var $data_tables = document.querySelectorAll('[data-module*="data-table"]')
    $data_tables.forEach(data_table => {
        console.log("table scroll initialised");
        new window.DLFrontend.ScrollableTables(data_table).init()
    })
</script>

{% endblock %}