{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Shielding hubs{% endblock %}

{% block componentContent %}

  <div class="govuk-caption-s">Test caption</div>
  <h2 class="govuk-heading-m">Example</h2>

  <div class="app-example-wrapper">
    <div class="app-example">
      <iframe 
        title="Linking from the error summary to an answer that uses multiple fields example"
        data-module="app-example-frame"
        class="app-example__frame app-example__frame--resizable app-example__frame--xs"
        src="/component/iframe" loading="lazy" id="iFrameResizer3"
        scrolling="auto" frameborder="0"></iframe>
    </div>
    <div class="app-tabs__heading">
      <span>HTML</span>
    </div>
    <div class="app-tabs__container">
      <pre><code class="html">
          {%- filter forceescape -%}
            {%- include 'partials/hero.html' -%}
          {%- endfilter -%}
        </code></pre>
    </div>
  </div>

  <hr class="govuk-section-break hub-list__separator govuk-section-break--visible">

  <div class="govuk-grid-row hub test-hub">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Hub</span>
      <h2 class="govuk-heading-l">Kent County Council</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-font-weight-bold">Councils in the hub:</p>
      <ul class="govuk-list hub__la-list">
        <li>
          Ashford
        </li>
        <li>
          <span class="found">Canterbury</span>
        </li>
        <li>
          Dartford
        </li>
        <li>
          Dover
        </li>
        <li>
          Gravesham
        </li>
        <li>
          Maidstone
        </li>
        <li>
          Sevenoaks
        </li>
        <li>
          Shepway
        </li>
        <li>
          Swale
        </li>
        <li>
          Thanet
        </li>
        <li>
          Tonbridge and Malling
        </li>
        <li>
          Tunbridge Wells
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Local Resilience Forum</span>
      <h3 class="govuk-heading-m">Kent</h3>
      <span class="govuk-caption-m">Region</span>
      <h3 class="govuk-heading-m">South East</h3>
    </div>
  </div>

  <hr class="govuk-section-break hub-list__separator govuk-section-break--visible">

  <div class="govuk-grid-row hub">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Hub</span>
      <h2 class="govuk-heading-l">Kent County Council</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-font-weight-bold">Councils in the hub:</p>
      <ul class="govuk-list hub__la-list">
        <li>
          Ashford
        </li>
        <li>
          <span class="found">Canterbury</span>
        </li>
        <li>
          Dartford
        </li>
        <li>
          Dover
        </li>
        <li>
          Gravesham
        </li>
        <li>
          Maidstone
        </li>
        <li>
          Sevenoaks
        </li>
        <li>
          Shepway
        </li>
        <li>
          Swale
        </li>
        <li>
          Thanet
        </li>
        <li>
          Tonbridge and Malling
        </li>
        <li>
          Tunbridge Wells
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Local Resilience Forum</span>
      <h3 class="govuk-heading-m">Kent</h3>
      <span class="govuk-caption-m">Region</span>
      <h3 class="govuk-heading-m">South East</h3>
    </div>
  </div>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Hub</span>
      <h2 class="govuk-heading-l">Kent County Council</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-font-weight-bold">Councils in the hub:</p>
      <ul class="govuk-list hub__la-list">
        <li>
          Ashford
        </li>
        <li>
          <span class="found">Canterbury</span>
        </li>
        <li>
          Dartford
        </li>
        <li>
          Dover
        </li>
        <li>
          Gravesham
        </li>
        <li>
          Maidstone
        </li>
        <li>
          Sevenoaks
        </li>
        <li>
          Shepway
        </li>
        <li>
          Swale
        </li>
        <li>
          Thanet
        </li>
        <li>
          Tonbridge and Malling
        </li>
        <li>
          Tunbridge Wells
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Local Resilience Forum</span>
      <h3 class="govuk-heading-m">Kent</h3>
      <span class="govuk-caption-m">Region</span>
      <h3 class="govuk-heading-m">South East</h3>
    </div>
  </div>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Hub</span>
      <h2 class="govuk-heading-l">Kent County Council</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-font-weight-bold">Councils in the hub:</p>
      <ul class="govuk-list hub__la-list">
        <li>
          Ashford
        </li>
        <li>
          <span class="found">Canterbury</span>
        </li>
        <li>
          Dartford
        </li>
        <li>
          Dover
        </li>
        <li>
          Gravesham
        </li>
        <li>
          Maidstone
        </li>
        <li>
          Sevenoaks
        </li>
        <li>
          Shepway
        </li>
        <li>
          Swale
        </li>
        <li>
          Thanet
        </li>
        <li>
          Tonbridge and Malling
        </li>
        <li>
          Tunbridge Wells
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Local Resilience Forum</span>
      <h3 class="govuk-heading-m">Kent</h3>
      <span class="govuk-caption-m">Region</span>
      <h3 class="govuk-heading-m">South East</h3>
    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
var $btt = document.querySelector('[data-module*="back-to-top"]')
new window.DLFrontend.BackToTop($btt).init({
  footer_selector: ".govuk-footer",
  head_selector: ".test-hub",
  classes: "back-to-top--banner"
});
</script>

{% endblock %}