{% extends "dl-components-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Search{% endblock %}

{% block componentContent %}

  <h2 class="govuk-heading-l">Standard size search box</h2>
  <p class="govuk-body">This is the standard searchbox component. It is a maximum of 450px wide. See below if you'd like search boxes with different widths.</p>
  <div class="module-example">
    {% include 'partials/search-input.html' %}
  </div>

  <h2 class="govuk-heading-m">The HTML you need</h2>
  <pre>
  <code class="html">
    {%- filter forceescape -%}
      {%- include 'partials/search-input.html' -%}
    {%- endfilter -%}
  </code>
  </pre>

  <div class="dl-info-text">
    <span class="dl-info-text__icon" aria-hidden="true">i</span>
    <p class="dl-info-text__text">
      <span class="dl-info-text__assistive">Please note</span>
      To make this component accessible you will need to handle invalid entries, setting <code>aria-invalid</code> to true on the input when invalid.
    </p>
  </div>

  <h2 class="govuk-heading-l">Alternative sizes</h2>
  <p class="govuk-body">You can create your own search box sizes by using the <code>@search-box</code> mixin. E.g.</p>
  <pre>
  <code class="scss">.search-box--small {
    @include search-box($max-with: 300px);
  }
  </code>
  </pre>
  <p class="govuk-body">This will result in a smaller search box used via a <code>.search-box--small</code> class.</p>
  <div class="module-example">
    {% include 'partials/search-input-small.html' %}
  </div>
  <pre>
  <code class="html">
    {%- filter forceescape -%}
      {%- include 'partials/search-input-small.html' -%}
    {%- endfilter -%}
  </code>
  </pre>

{% endblock %}