{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}
{% from "dl-macros/design-system-example/design-system-example.jinja" import designSystemExample %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Tags{% endblock %}

{% block componentContent %}

<p class="govuk-body">Use tags when you want to communicate the status of a thing.</p>

<p class="govuk-body">For example, the service you are working on could be in the <span class="govuk-!-font-weight-bold">prototype</span> stage. Or an item in a task list could be <span class="govuk-!-font-weight-bold">completed</span>.</p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of the different govuk style tags",
      "size": "s",
      "url": url_for('components.tags_example')
    },
    "partial": [{
      "name": 'partials/tags.html'
    }]
  }) }}

<p class="govuk-body">Since we created these tags styles the GOVUK design system has been updated to contain <a href="https://design-system.service.gov.uk/components/tag/">more tag style types</a>, we recommend using these where appropriate.</p>

{% endblock %}