{% extends "dl-components-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}
{% from "dl-macros/chart-macros.html" import horizontalBar %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Visualising data{% endblock %}

{% block componentContent %}

      <p class="govuk-body">You can add stacked bars</p>

      <div class="module-example">
        <div class="govuk-grid-row contribution-category-row">
		  <div class="govuk-grid-column-one-quarter">
		    <h4 class="govuk-heading-s chart-bar__label"><a href="/compulsory-purchase-order?year=2018">2018</a></h4>
		  </div>
		  <div class="govuk-grid-column-three-quarters chart-bar">

		  		<div class="chart-bar__part chart-bar__part--housing" style="width: 40%;"></div>
		  		<div class="chart-bar__part chart-bar__part--planning" style="width: 25%;"></div>
		  	
			<span class="govuk-!-font-weight-bold data-item chart-bar__value">76</span>
		  </div>
		</div>
      </div>

      <p class="govuk-body">You will need this HTML:</p>

      <pre>
      <code class="html">
        {%- filter forceescape -%}
<div class="govuk-grid-row contribution-category-row">
  <div class="govuk-grid-column-one-quarter">
    <h4 class="govuk-heading-s chart-bar__label"><a href="/compulsory-purchase-order?year=2018">2018</a></h4>
  </div>
  <div class="govuk-grid-column-three-quarters chart-bar">

  		<div class="chart-bar__part chart-bar__part--housing" style="width: 40%;"></div>
  		<div class="chart-bar__part chart-bar__part--planning" style="width: 25%;"></div>
  	
	<span class="govuk-!-font-weight-bold data-item chart-bar__value">76</span>
  </div>
</div>
        {%- endfilter -%}
      </code>
      </pre>

	<p class="govuk-body">Short bars will look like this</p>

	<div class="module-example">
		<div class="govuk-grid-row contribution-category-row">
		  <div class="govuk-grid-column-one-quarter">
		    <h4 class="govuk-heading-s contribution-category-heading"><a href="/compulsory-purchase-order?investigation=True">Inquiry</a></h4>
		  </div>
		  <div class="govuk-grid-column-three-quarters chart-bar">
		  	
		    <div class="chart-bar__part chart-bar__part--inquiry" style="width: 6%"></div>
		    
		    <span class="govuk-!-font-weight-bold data-item chart-bar__value">37</span>
		  </div>
		</div>
	</div>

	<p class="govuk-body">You will need this HTML:</p>

	<pre>
		<code class="html">
        {%- filter forceescape -%}
<div class="govuk-grid-row contribution-category-row">
  <div class="govuk-grid-column-one-quarter">
    <h4 class="govuk-heading-s contribution-category-heading"><a href="/compulsory-purchase-order?investigation=True">Inquiry</a></h4>
  </div>
  <div class="govuk-grid-column-three-quarters chart-bar">
  	
    <div class="chart-bar__part chart-bar__part--inquiry" style="width: 6%"></div>
    
    <span class="govuk-!-font-weight-bold data-item chart-bar__value">37</span>
  </div>
</div>
        {%- endfilter -%}
		</code>
  </pre>

  <h3 class="govuk-heading-m">Horizontal bars</h3>

  <div class="module-example">
    {{ horizontalBar({
      "label": "text/csv",
      "label_classes": "chart-bar__label--small-text",
      "value": 342,
      "total": 756
    }) }}
    {{ horizontalBar({
      "label": "text/xls",
      "label_classes": "chart-bar__label--small-text",
      "value": 281,
      "total": 756,
      "classes": "chart-bar--blue"
    }) }}
    <div class="govuk-grid-row chart-bar__row ">
        <div class="govuk-grid-column-one-quarter">
            <h4 class="govuk-heading-s chart-bar__label chart-bar__label--long chart-bar__label--small-text">application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</h4>
        </div>
        <div class="govuk-grid-column-three-quarters chart-bar">
            
            <div class="chart-bar__part" style="width: 11%;"></div>
            <span class="govuk-!-font-weight-bold data-item chart-bar__value">89</span>
        </div>
    </div>
  </div>

  <p class="govuk-body">You will need this jinja:</p>
  <pre><code class="nunjucks">{%- raw -%}{{ horizontalBar({
  "label": "text/csv",
  "value": 342,
  "total": 756
}) }}

{{ horizontalBar({
  "label": "text/xls",
  "value": 281,
  "total": 756,
  "classes": "chart-bar--blue"
}) }}{%- endraw -%}</code></pre>

<h3 class="govuk-heading-m">Data items with block backgrounds</h3>

<div class="module-example">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p>
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">797</span><br>
        <span class="govuk-body-l block-text--red">False</span>
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <p>
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">9</span><br>
        <span class="govuk-body-l block-text--green">True</span>
      </p>
    </div>
  </div>
</div>

{% endblock %}
