{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Data item{% endblock %}

{% block componentContent %}

  <p class="govuk-body"></p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of the data item component",
      "url": url_for('components.data_item_example')
    },
    "partial": [
      {
        "type": "html",
        "name": 'dl-component-examples/data-item/partial.html'
      },
      {
        "type": "jinja",
        "path": 'dl-component-examples/data-item/partial.html'
      }
    ]
  }) }}

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  // Initialise tabs
var $tabs = document.querySelectorAll('[data-module="app-tabs"]')
$tabs.forEach(function ($tab) {
  new DLFrontend.AppTabs($tab).init()
})
</script>
{% endblock bodyEnd %}