<div class="leaflet-popup bfs-popup  leaflet-zoom-animated" style="opacity: 1;">
    <div class="leaflet-popup-content-wrapper">
        <div class="leaflet-popup-content" style="width: 300px;">
        <div class="bfs">
            <span class="bfs__end-banner">This is from a function</span>
            <div class="bfs__header">
            <span class="govuk-caption-s">BLR028 sites</span>
            <h3 class="govuk-heading-s bfs__addr">Westbury Estate</h3>
            </div>
            <div class="govuk-grid-row bfs__key-data">
            <dl class="govuk-grid-column-one-half">
                <dt>Hectare</dt><dd>2.84</dd>
            </dl>
            <dl class="govuk-grid-column-one-half">
                <dt>Dwellings</dt><dd>181</dd>
            </dl>
            </div>
            <div class="bfs__meta">
            <dl>
                <dt>Latitude</dt><dd>51.46984</dd>
            </dl>
            <dl>
                <dt>Longitude</dt><dd>-0.139441</dd>
            </dl>
            <dl>
                <dt>Date added</dt><dd>2017-12-15</dd>
            </dl>
            <dl>
                <dt>Last updated</dt><dd>2019-12-20</dd>
            </dl>
            </div>
            <div class="bfs__footer">
            <a href="#" class="govuk-link">See all site properties</a>
            </div>
        </div>
        </div>
    </div>
    <div class="leaflet-popup-tip-container">
        <div class="leaflet-popup-tip"></div>
    </div>
    <a class="leaflet-popup-close-button" href="#close">×</a>
</div>