<div class="govuk-grid-row contribution-category-row">
  <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s contribution-category-heading">Highways</h4>
  </div>
  <div class="govuk-grid-column-two-thirds contribution-bar-container">
    
    <div class="contribution-bar contribution-bar--small" style="width: 8%;">
      <span class="govuk-!-font-size-24 govuk-!-font-weight-bold data-item">£267,086</span>
    </div>
    <div class="govuk-!-font-size-24 data-item cb-floating-figure">£267,086</div>
  </div>
</div>