<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third markdown-output contents-section">
    <p>Contents</p>
    <ul>
      <li><a href="#help-us-develop-a-common-data-format">Help us develop a common data format</a></li>
      <li><a href="#publish-using-our-proposed-data-format">Publishing using our proposed data format</a></li>
      <li><a href="#current-areas-of-investigation">Current areas of investigation</a></li>
      <li><a href="#upcoming-areas-of-investigation">Upcoming areas of investigation</a></li>
      <li><a href="developer-contributions#timeline">Timeline</a></li>
    </ul>
  </div>
</div>