<div class="data-table-left-shadow with-transition"></div>
<div class="wide-table">
    <table class="data-table">
        <thead>
            <tr>
                <th scope="col" aria-sort="none">SiteReference</th>
                <th scope="col">GeoX</th>
                <th scope="col">GeoY</th>
                <th scope="col" aria-sort="none">Hectares</th>
                <th scope="col">FirstAddedDate</th>
                <th scope="col">LastUpdatedDate</th>
                <th scope="col">NetDwellingsRangeFrom</th>
                <th scope="col">NetDwellingsRangeTo</th>
                <th scope="col">Deliverable</th>
                <th scope="col">HazardousSubstances</th>
                <th scope="col">OrganisationURI</th>
                <th scope="col">OwnershipStatus</th>
                <th scope="col">PermissionDate</th>
                <th scope="col">PermissionType</th>
                <th scope="col">PlanningHistory</th>
                <th scope="col">PlanningStatus</th>
                <th scope="col">SiteNameAddress</th>
                <th scope="col">SiteplanURL</th>
                <th scope="col">Notes</th>
                <th scope="col">EndDate</th>
            </tr>
        </thead>
        <tbody>     
            <tr>
                <td data-sort-value="LPR/GLA/01 (part of)">LPR/GLA/01 (part of)</td>
                
                <td>
                    -0.675353
                </td>
                
                <td>
                    52.593012
                </td>
                <td data-sort-value="0.27">0.27</td>
                <td>2017-12-22</td>
                <td tabindex="0" class="data-table__issue">
                    2017-12-22
                    <span class="data-table__issue__item">
                        <div class="data-table__issue__item__text"><span class="secondary-text">original &rarr;</span></div>
                        <div class="data-table__issue__item__text"><span class="secondary-text">processed &rarr;</span>2017-12-22</div>
                        <span class="data-table__issue__info">No date provided so defaulting to FirstAddedDate.</span>
                    </span>
                </td>
                <td>10</td>
                <td>12</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>Land East of Seaton Road, Glaston</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td data-sort-value="LPR/MOR/01 (part of)">LPR/MOR/01 (part of)</td>

                <td tabindex="0" class="data-table__issue">
                    2.118544
                    <span class="data-table__issue__item">
                        <div class="data-table__issue__item__text"><span class="secondary-text">original &rarr;</span>2.118544</div>
                        <span class="data-table__issue__info">Coordinate is outside England</span>
                    </span>
                </td>
                
                <td>
                    52.59351
                </td>
                <td data-sort-value="0.18">0.18</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>1</td>
                <td>5</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>part of The White Horse Inn, Morcott</td>
                <td tabindex="0" class="data-table__issue data-table__cell--min-width">
                    <span class="hidden-text">www.teignbridge.gov.uk/planning/forms/planning-application-details/?Type=Application&Refval=17%2f02715%2fMAJ</span>
                    <span class="data-table__issue__item">
                        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">original →</span><span>www.teignbridge.gov.uk/planning/forms/planning-application-details/?Type=Application&amp;Refval=01%2f03478%2fCOU</span></div>
                        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">processed →</span></div>
                        <span class="data-table__issue__info">Value provided was not a valid URI.</span>
                    </span>
                </td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td data-sort-value="LPR/NOR/02">LPR/NOR/02</td>
                
                <td tabindex="0" class="data-table__issue">
                    <span class="data-table__issue__item">
                        <span class="data-table__issue__info"><strong class="govuk-tag govuk-!-margin-right-1">Missing</strong>No GeoX coordinate provided.</span>
                    </span>
                </td>
                
                <td>
                    52.621064
                </td>
                <td data-sort-value="0.21">0.21</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>6</td>
                <td tabindex="0" class="data-table__issue data-table__issue--wide" data-sort-value="148">
                    148.0
                    <span class="data-table__issue__item">
                        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">original →</span><span></span></div>
                        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">processed →</span>148</div>
                        <span class="data-table__issue__info">
                            <strong class="govuk-tag govuk-!-margin-right-1">amended</strong>No value provided for NetDwellingsRangeTo. Setting to NetDwellingsRangeFrom
                        </span>
                    </span>
                </td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td class="data-table__cell--max-width">Land Bounded By Somerleyton Road, Coldharbour Lane And Railway</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td data-sort-value="PR/TIN/01 (part of)">LPR/TIN/01 (part of)</td>
                
                <td>
                    -0.513517
                </td>
                
                <td>
                    52.646858
                </td>
                <td data-sort-value="0.18">0.18</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>5</td>
                <td>6</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>Land adjacent to Holme Farm, Tinwell</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr class=data-table__row--bottom>
                <td data-sort-value="Policy SP2. site H7">Policy SP2. site H7</td>
                <td tabindex="0" class="data-table__issue data-table__issue--bottom-rows">
                    <span class="data-table__issue__item">
                        
                        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">original →</span><span>178738, 178601</span></div>
                        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">processed →</span></div>
                        
                        <span class="data-table__issue__info"><strong class="govuk-tag govuk-!-margin-right-1">invalid</strong>Unable to recognise coordinate</span>
                    </span>
                </td>
                
                <td tabindex="0" class="data-table__issue data-table__issue--bottom-rows">
                    <span class="data-table__issue__item">
                        <span class="data-table__issue__info"><strong class="govuk-tag govuk-!-margin-right-1">Missing</strong>No GeoX coordinate provided.</span>
                    </span>
                </td>
                <td data-sort-value="1.31">1.31</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>37</td>
                <td>45</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>pending decision</td>
                <td>The Crescent, High Street, Ketton</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr></tbody>
    </table>
</div>
<div class="data-table-right-shadow visible with-transition"></div>