<div class="data-table-left-shadow with-transition"></div>
<div class="wide-table">
    <table class="data-table">
        <thead>
            <tr>
                <th scope="col">SiteReference</th>
                <th scope="col">GeoX</th>
                <th scope="col">GeoY</th>
                <th scope="col" aria-sort="none">Hectares</th>
                <th scope="col">FirstAddedDate</th>
                <th scope="col">LastUpdatedDate</th>
                <th scope="col">NetDwellingsRangeFrom</th>
                <th scope="col">NetDwellingsRangeTo</th>
                <th scope="col">Deliverable</th>
                <th scope="col">HazardousSubstances</th>
                <th scope="col">OrganisationURI</th>
                <th scope="col">OwnershipStatus</th>
                <th scope="col">PermissionDate</th>
                <th scope="col">PermissionType</th>
                <th scope="col">PlanningHistory</th>
                <th scope="col">PlanningStatus</th>
                <th scope="col">SiteNameAddress</th>
                <th scope="col">SiteplanURL</th>
                <th scope="col">Notes</th>
                <th scope="col">EndDate</th>
            </tr>
        </thead>
        <tbody>     
            <tr>
                <td>LPR/GLA/01 (part of)</td>
                
                <td>
                    -0.675353
                </td>
                
                <td>
                    52.593012
                </td>
                <td data-sort-value="0.27">0.27</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>10</td>
                <td>12</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>Land East of Seaton Road, Glaston</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td>LPR/MOR/01 (part of)</td>
                
                <td>
                    -0.632481
                </td>
                
                <td>
                    52.59351
                </td>
                <td data-sort-value="0.18">0.18</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>1</td>
                <td>5</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>part of The White Horse Inn, Morcott</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td>LPR/NOR/02</td>
                
                <td>
                    -0.62016
                </td>
                
                <td>
                    52.621064
                </td>
                <td data-sort-value="0.21">0.21</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>6</td>
                <td>8</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>Pinfold Close, North Luffenham</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td>LPR/TIN/01 (part of)</td>
                
                <td>
                    -0.513517
                </td>
                
                <td>
                    52.646858
                </td>
                <td data-sort-value="0.18">0.18</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>5</td>
                <td>6</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>not permissioned</td>
                <td>Land adjacent to Holme Farm, Tinwell</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr><tr>
                <td>Policy SP2. site H7</td>
                
                <td>
                    -0.544929
                </td>
                
                <td>
                    52.634686
                </td>
                <td data-sort-value="1.31">1.31</td>
                <td>2017-12-22</td>
                <td>2017-12-22</td>
                <td>37</td>
                <td>45</td>
                <td>yes</td>
                <td></td>
                <td>http://opendatacommunities.org/id/unitary-authority/rutland</td>
                <td>not owned by a public authority</td>
                <td></td>
                <td></td>
                <td></td>
                <td>pending decision</td>
                <td>The Crescent, High Street, Ketton</td>
                <td></td>
                <td class="bfs-notes-field" style="min-width: 200px; white-space: normal;">
                    
                    
                </td>
                <td></td>
            </tr></tbody>
    </table>
</div>
<div class="data-table-right-shadow visible with-transition"></div>