<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a class="highlight-box govuk-!-margin-top-6" href="https://raw.githubusercontent.com/digital-land/brownfield-land-collection/master/var/transformed/09e664c87845f8e4955d93f157ec7ab5a0528d6d9460eec1b6747eff5df02eac.csv">
            <h3 class="govuk-heading-m highlight-box__title govuk-!-margin-top-0">Shielding hubs</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">Get a copy of the shielding hub data in CSV format.</p>
        </a>
    </div>
    <div class="govuk-grid-column-one-half">
        <a class="highlight-box govuk-!-margin-top-6" href="https://raw.githubusercontent.com/digital-land/brownfield-land-collection/master/var/transformed/09e664c87845f8e4955d93f157ec7ab5a0528d6d9460eec1b6747eff5df02eac.csv">
            <h3 class="govuk-heading-m highlight-box__title govuk-!-margin-top-0">Local authorities in hubs</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">Get a copy of the local authortiy to shielding hub data in CSV format.</p>
        </a>
    </div>
</div>