<div class="govuk-grid-row org-count">
	<div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m org-count__name" id="government-organisation">Government departments, agencies and public bodies</h2>
      <div class="org-count__wrapper">
        <p class="govuk-visually-hidden">There are
          <span class="js-accessible-department-count">2</span>
          Government departments, agencies and public bodies
        </p>
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-department-count" aria-hidden="true">2</span>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <ol class="org-list">
        <li class="org-list__item">
          <a href="government-organisation/D4/" class="govuk-link org-list__item-title">Ministry of Housing, Communities and Local Government</a>
        </li>
        <li class="org-list__item">
          <a href="government-organisation/EA39/" class="govuk-link org-list__item-title">Planning Inspectorate</a>
        </li>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-row org-count">
	<div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m org-count__name" id="government-organisation">Local authorities</h2>
      <div class="org-count__wrapper">
        <p class="govuk-visually-hidden">There are
          <span class="js-accessible-department-count">5</span>
          Local authorities
        </p>
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-department-count" aria-hidden="true">5</span>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <ul class="org-list">
        <li class="org-list__item">
          <a href="local-authority-eng/ALL/" class="govuk-link org-list__item-title">Allerdale Borough Council</a>
        </li>
        <li class="org-list__item">
          <a href="local-authority-eng/ADU/" class="govuk-link org-list__item-title">Adur District Council</a>
        </li>
        <li class="org-list__item">
          <a href="local-authority-eng/BAR/" class="govuk-link org-list__item-title">Barrow-in-Furness Borough Council</a>
        </li>
        <li class="org-list__item">
          <a href="local-authority-eng/BMH/" class="govuk-link org-list__item-title">Bournemouth Borough Council</a>
          <strong class="govuk-tag govuk-tag--grey">
            Dissolved
          </strong>
        </li>
        <li class="org-list__item">
          <a href="local-authority-eng/CAT/" class="govuk-link org-list__item-title">Canterbury City Council</a>
        </li>
      </ul>
    </div>
  </div>