<div class="govuk-grid-row org-count">
	<div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m org-count__name" id="government-organisation">Government departments, agencies and public bodies</h2>
      <div class="org-count__wrapper">
        <p class="govuk-visually-hidden">There are
          <span class="js-accessible-department-count">2</span>
          Government departments, agencies and public bodies
        </p>
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-department-count" aria-hidden="true">2</span>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
        <li>
          <a href="government-organisation/D4/" class="govuk-link govuk-body-l">Ministry of Housing, Communities and Local Government</a>
        </li>
        <li>
          <a href="government-organisation/EA39/" class="govuk-link govuk-body-l">Planning Inspectorate</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row org-count">
	<div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m org-count__name" id="government-organisation">Government departments, agencies and public bodies</h2>
      <div class="org-count__wrapper">
        <p class="govuk-visually-hidden">There are
          <span class="js-accessible-department-count">2</span>
          Government departments, agencies and public bodies
        </p>
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-department-count" aria-hidden="true">2</span>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
        <li>
          <a href="government-organisation/D4/" class="govuk-link govuk-body-l">Ministry of Housing, Communities and Local Government</a>
        </li>
        <li>
          <a href="government-organisation/EA39/" class="govuk-link govuk-body-l">Planning Inspectorate</a>
        </li>
      </ul>
    </div>
  </div>