{% extends "styleguide-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/guide-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Difference between DL frontend and GOVUK design system
        </h1>
      </div>

      <p class="govuk-body">Digital Land Frontend uses and builds on the Gov.uk design system.</p>
  
    </main>
  </div>
</div>
{% endblock %}