{% extends "styleguide-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/guide-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Use DL frontend in your own projects
        </h1>
      </div>

      <p class="govuk-body-l">Find repo on <a href="https://github.com/communitiesuk/digital-land-frontend" class="govuk-link">github</a></p>
  
    </main>
  </div>
</div>
{% endblock %}