{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  <div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

      <h4 class="app-subnav__heading">Guides</h4>

      <ul class="app-subnav__section">
        {{ sublevelNavItem("Include in your flask app", "/", true) }}
        {{ sublevelNavItem("Difference between DL frontend and GOVUK design system", "/") }}
      </ul> 

    </nav>
  </div>

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Use DL frontend in your own projects
        </h1>
      </div>

      <p class="govuk-body-l">Find repo on <a href="https://github.com/communitiesuk/digital-land-frontend" class="govuk-link">github</a></p>
  
    </main>
  </div>
</div>
{% endblock %}