$toc-width: 260px;
$toc-width-tablet: 210px;

.app-nav {
  @include govuk-media-query($from: tablet) {
    display: flex;
    background-color: $app-light-grey;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.app-nav__wrap {
  $navigation-height: 53px;
  box-sizing: border-box;
  @include govuk-font(19, $weight: bold);
  width: 100%;

  @include govuk-media-query($from: tablet) {
    margin-left: -(govuk-spacing(3)); // aligns text with beginning of phase banner
  }

  &__list {
    padding: 0;
    list-style: none;

    & > li {
      box-sizing: border-box;
      height: $navigation-height;
      float: left;
      line-height: $navigation-height;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &:hover {
        border-bottom: 4px solid govuk-colour("light-blue");
      }

      &.app-nav--current-page {
        border-bottom: 4px solid govuk-colour("blue") !important;

        a:hover {
          color: $govuk-link-colour;
        }
      }

      a {
        @include govuk-typography-weight-bold; // Override .govuk-link weight
        display: block;
        padding: 0 govuk-spacing(3);
        color: $govuk-link-colour;
        text-decoration: none;

        &:visited {
          color: $govuk-link-colour;
        }

        &:hover,
        &:focus {
          color: $govuk-link-hover-colour;
          background-color: inherit;
        }
      }
    }
  }
}

.app-nav__body {
  @include govuk-media-query($from: tablet) {
    display: flex;
    position: relative;
    min-height: 0;
    overflow: inherit;
  }

  @include govuk-media-query(1160px) {
    width: 100%;
  }
}

.app-nav__subnav {
  @include govuk-media-query($from: tablet) {
    width: $toc-width-tablet;
    flex: 0 0 auto;
  }
  @include govuk-media-query($from: desktop) {
    width: $toc-width;
  }
}

.app-nav__content {
  @include govuk-media-query($from: tablet) {
    display: flex;
    min-width: 0;
    flex: 1 1 100%;
    flex-direction: column;
  }
}

.no-flexbox {
  .app-nav {
    height: auto;
    overflow: visible;
    @include govuk-clearfix;
  }

  .app-nav__body {
    display: block;
  }

  .app-nav__subnav {
    width: $toc-width;
    float: left;
    overflow-x: hidden;
    border-right: 0;
  }

  .app-nav__content {
    margin-left: -1px;
    overflow-x: hidden;
  }
}

.app-subnav {
  padding: govuk-spacing(6) govuk-spacing(3) 0 0;
  @include govuk-font(16);

  @include govuk-media-query($from: tablet) {
    margin-left: -(govuk-spacing(3));
  }
}

.app-subnav__section {
  margin: 0 0 govuk-spacing(4);
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  display: block;
  padding: 8px govuk-spacing(6) 8px govuk-spacing(2);
  border-left: 4px solid transparent;
  text-decoration: none;

  &:focus {
    background: inherit;
  }

  &:hover,
  &:active,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    border-left-color: $govuk-link-hover-colour;
  }
}

.app-subnav__section-item--current .app-subnav__link {
  border-left-color: $govuk-link-colour;
  background: $app-light-grey;
  font-weight: bold;
}

.app-subnav__heading {
  margin: 0;
  padding: govuk-spacing(2) govuk-spacing(3);
  color: govuk-colour("dark-grey", $legacy: "grey-1");
  @include govuk-font(19);
}

.app-content {

  padding: govuk-spacing(3) govuk-spacing(0);

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
    padding-right: 0;
  }
}

// back-to-top button
.app-back-to-top {
  // check postcss is working
  position: sticky;
  top: $govuk-gutter;
  margin-bottom: $govuk-gutter;
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}
