.collection-list {
  @extend %govuk-list;

  > li:not(:last-child) {
    margin-bottom: govuk-spacing(3);
  }
}

.issue-list__item {
  @include govuk-clearfix;
  padding-bottom: 10px;
}

.issue-list__item__text-s {
  @include govuk-font($size: 16);
}

.related-stat-summary {
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid $govuk-border-colour;
}

.related-stat-summary__heading {
  @include govuk-font($size: 16);
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
  color: $govuk-secondary-text-colour;
}

// same as github commits heatmap
.dlf-heatmap__container {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  flex-direction: column; // needed to make right aligned
}

.dlf-svg-heatmap text {
  @include govuk-font($size: 14, $weight: lighter);
}

.heatmap__day {
  fill: govuk-colour("light-grey");
}

@mixin heatmap-fills($colour) {
  .heatmap__day--lower {
    fill: govuk-tint($colour, 35);
  }

  .heatmap__day--mid {
    fill: $colour;
  }

  .heatmap__day--higher {
    fill: govuk-shade($colour, 35);
  }
}

.dlf-svg-heatmap {
  @include heatmap-fills(govuk-colour("blue"));
}

.dlf-svg-heatmap--red {
  @include heatmap-fills(govuk-colour("red"));
}
