.lp-pins-stages {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  color: govuk-colour("white");
  background: govuk-colour("mid-grey");

  .govuk-details {
    margin-bottom: 0;
  }

  .govuk-details__summary,
  .govuk-table {
    color: govuk-colour("white");
  }

  .govuk-details__text {
    border: 0;
  }

  .adopted-plan & {
    background: govuk-colour("blue");
  }

  label,
  legend,
  span {
    color: govuk-colour("white");
  }
}

.lp-current-stage {
  @include govuk-font($size: 24);
  margin-bottom: $govuk-gutter-half;
  padding-bottom: $govuk-gutter-half;
  border-bottom: 2px solid govuk-colour("white");
}

.lp-stage-tag {
  margin-right: $govuk-gutter-half;
  padding: 0 8px;
  border: 2px solid govuk-colour("white");
  font-weight: bold;
  text-transform: uppercase;
}
