.facet-search__showing {
  margin-bottom: 15px;
  border-bottom: 1px solid $govuk-border-colour;

  > p {
    margin-bottom: 10px;
  }
}

.lp-details-section {
  @include govuk-media-query($from: tablet) {
    border-left: 1px solid $govuk-border-colour;
  }
}

.lp-section-break {
  @include govuk-responsive-margin(6, "bottom");
}

.dl-document-preview {
  width: 156px;
  height: 198px;
  border: 5px solid govuk-colour("mid-grey");
  background: govuk-colour("white");
}
