{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/jinja-components-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          {% block govukComponentName %}{% endblock %}
        </h1>
      </div>

      {% block govukComponentContent %}
      <div class="module-example">
        {% block govukComponentExample %}{% endblock %}
      </div>

      <h2 class="govuk-heading-m">Jinja you need</h2>

      {% block govukComponentJinja %}{% endblock %}
      {% endblock %}

    </main>
  </div>
</div>

{% endblock %}