{% extends "dlf-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block content %}

<div class="app-nav__body govuk-width-container">
  {%- include 'menu-partials/jinja-components-menu.html' -%}

  <div class="app-nav__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
        <span class="govuk-caption-xl">GOVUK component</span>
        <h1 class="govuk-heading-xl">
          {{ componentName }}
        </h1>
      </div>

      {% block govukComponentContent %}
      <div class="module-example">
        {% block govukComponentExample %}{% endblock %}
      </div>

      <h2 class="govuk-heading-m">Jinja you need</h2>

      {% block govukComponentJinja %}{% endblock %}
      {% endblock %}

      {% block extraContent %}{% endblock %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Further information</h3>

      <p class="govuk-body">For full details see <a href="https://design-system.service.gov.uk/components/{{ componentName | lower | replace(' ', '-') }}">{{ componentName }} component</a> on GOV.UK design system.</p>

    </main>
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
// Initialise back to top
var $backToTop = document.querySelector('[data-module="app-back-to-top"]')
var $observedElement = document.querySelector('.app-subnav')
new BackToTop($backToTop, { $observedElement: $observedElement }).init()
</script>
{% endblock %}