{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/button/macro.jinja" import govukButton -%}

{% block govukComponentName %}Button{% endblock %}

{% block govukComponentExample %}

{{ govukButton({
  "text": "Save and continue",
  "attributes": {
    "data-test": "this is a value"
	}
}) }}

{% endblock %}

{% block govukComponentJinja %}

<pre><code class="nunjucks">{% raw %}{{ govukButton({
  "text": "Save and continue",
  "attributes": {
    "data-test": "this is a value"
  }
}) }}{% endraw %}</code></pre>

<h3 class="govuk-heading-m">Other button types</h3>

{{ govukButton({
  "text": "Start now",
  "href": "#",
  "isStartButton": true
}) }}

<br />

{{ govukButton({
  "text": "Find address",
  "classes": "govuk-button--secondary"
}) }}

{% endblock %}