{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/date-input/macro.jinja" import govukDateInput -%}

{% block govukComponentName %}Date input{% endblock %}

{% block govukComponentExample %}

{{ govukDateInput({
  "id": "passport-issued",
  "namePrefix": "passport-issued",
  "fieldset": {
    "legend": {
      "text": "When was your passport issued?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  }, 
  "hint": {
    "text": "For example, 12 11 2007"
  }
}) }}

{% endblock %}

{% block govukComponentJinja %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

{{ govukDateInput({
  "id": "passport-issued",
  "namePrefix": "passport-issued",
  "fieldset": {
    "legend": {
      "text": "When was your passport issued?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  }, 
  "hint": {
    "text": "For example, 12 11"
  },
  "parts": [
  {
    "name": "day",
    "classes": "govuk-input--width-2"
  },
  {
    "name": "month",
    "classes": "govuk-input--width-2"
  }
  ]

}) }}


{% endblock %}