{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/date-input/macro.jinja" import govukDateInput -%}

{% block govukComponentName %}Date input{% endblock %}

{% block govukComponentExample %}

{{ govukDateInput({
  "id": "passport-issued",
  "namePrefix": "passport-issued",
  "fieldset": {
    "legend": {
      "text": "When was your passport issued?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  }, 
  "hint": {
    "text": "For example, 12 11 2007"
  }
}) }}

{% endblock %}

{% block govukComponentJinja %}

<pre><code class="nunjucks">{% raw %}{{ govukDateInput({
  "id": "passport-issued",
  "namePrefix": "passport-issued",
  "fieldset": {
    "legend": {
      "text": "When was your passport issued?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  }, 
  "hint": {
    "text": "For example, 12 11"
  }
}) }}{% endraw %}</code></pre>


{% endblock %}