{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/file-upload/macro.jinja" import govukFileUpload -%}

{% set componentName = "File upload" %}

{% block govukComponentExample %}

{{ govukFileUpload({
  "id": "file-upload-1",
  "name": "file-upload-1",
  "label": {
    "text": "Upload a file"
  }
}) }}

{% endblock %}

{% block govukComponentJinja %}

<pre><code class="nunjucks">{% raw %}{{ govukFileUpload({
  "id": "file-upload-1",
  "name": "file-upload-1",
  "label": {
    "text": "Upload a file"
  }
}) }}{% endraw %}</code></pre>

{% endblock %}