{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/footer/macro.jinja" import govukFooter -%}

{% set componentName = "Footer" %}

{% block govukComponentExample %}

{{ govukFooter({
    "meta": {
        "items": [
        {
            "href": "#",
            "text": "Help"
        },
        {
            "href": "#",
            "text": "Cookies"
        },
        {
            "href": "#",
            "text": "Contact"
        },
        {
            "href": "#",
            "text": "Terms and conditions"
        },
        {
            "href": "#",
            "text": "Rhestr o Wasanaethau Cymraeg"
        }
        ],
        "html": 'The <a href="https://github.com/digital-land/organisation-collection">organisation-collection</a> and <a href="https://github.com/digital-land/organisation">organisation</a> is <a href="https://github.com/digital-land/organisation/blob/master/LICENSE">open source</a>.'
    }
}) }}

{% endblock %}

{% block govukComponentJinja %}

<p class="govuk-body">Note, jinja templates need all keys to be double quoted (""). As below.</p>

<pre><code class="nunjucks">{% raw %}{{ govukFooter({
"meta": {
    "items": [
    {
        "href": "#",
        "text": "Help"
    },
    {
        "href": "#",
        "text": "Cookies"
    },
    {
        "href": "#",
        "text": "Contact"
    },
    {
        "href": "#",
        "text": "Terms and conditions"
    },
    {
        "href": "#",
        "text": "Rhestr o Wasanaethau Cymraeg"
    }
    ],
    "html": 'The <a href="https://github.com/digital-land/organisation-collection">organisation-collection</a> and <a href="https://github.com/digital-land/organisation">organisation</a> is <a href="https://github.com/digital-land/organisation/blob/master/LICENSE">open source</a>.'
}
}) }}{% endraw %}</code></pre>

{% endblock %}