{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/radios/macro.jinja" import govukRadios -%}

{% set componentName = "Radios" %}

{% block govukComponentExample %}

{{ govukRadios({
  "classes": "govuk-radios--inline",
  "idPrefix": "changed-name",
  "name": "changed-name",
  "fieldset": {
    "legend": {
      "text": "Have you changed your name?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  },
  "hint": {
    "text": "This includes changing your last name or spelling your name differently."
  },
  "items": [
    {
      "value": "yes",
      "text": "Yes"
    },
    {
      "value": "no",
      "text": "No"
    }
  ]
}) }}

{% endblock %}

{% block govukComponentJinja %}

<pre><code class="nunjucks">{% raw %}{{ govukRadios({
  "classes": "govuk-radios--inline",
  "idPrefix": "changed-name",
  "name": "changed-name",
  "fieldset": {
    "legend": {
      "text": "Have you changed your name?",
      "isPageHeading": true,
      "classes": "govuk-fieldset__legend--xl"
    }
  },
  "hint": {
    "text": "This includes changing your last name or spelling your name differently."
  },
  "items": [
    {
      "value": "yes",
      "text": "Yes"
    },
    {
      "value": "no",
      "text": "No"
    }
  ]
}) }}{% endraw %}</code></pre>

{% endblock %}