{% extends "govuk-jinja-component-examples/_govuk-jinja-components-base.html" %}

{% from "./govuk-jinja-components/warning-text/macro.jinja" import govukWarningText -%}

{% set componentName = "Warning text" %}

{% block govukComponentExample %}

{{ govukWarningText({
  "text": "You can be fined up to £5,000 if you do not register.",
  "iconFallbackText": "Warning"
}) }}

{% endblock %}

{% block govukComponentJinja %}

<pre><code class="nunjucks">{% raw %}{{ govukWarningText({
  "text": "You can be fined up to £5,000 if you do not register.",
  "iconFallbackText": "Warning"
}) }}{% endraw %}</code></pre>

{% endblock %}