{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Hero{% endblock %}

{% block componentContent %}

  <p class="govuk-body">A component for producing a full width hero banner. Usually used on a landing page for a service, project or team.</p>

  {{ designSystemExample({
    "iframe": {
      "title": "An example of the hero component",
      "url": url_for('components.hero_example')
    },
    "partial": [
      {
        "type": "html",
        "name": 'partials/hero.html'
      }
    ]
  }) }}

{% endblock %}