{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Heatmap{% endblock %}

{% block componentContent %}

{{ designSystemExample({
    "iframe": {
      "title": "An example of the digtial land heatmap component",
      "size": "s",
      "url": url_for('components.heatmap_example')
    }
  }) }}


{% endblock %}