$govuk-fonts-path: '/static/govuk-frontend/assets/fonts/';
$govuk-images-path: '/static/govuk-frontend/assets/images/';

// import all GOVUK Frontend scss
@import "all";

// Import common Digital Land styles
@import "common/helvetica-fixes";
@import "common/mhclg-branding";
@import "common/site-full-width-container";

// import Digital Land components
@import "components/buttons";
@import "components/contribution-bar";
@import "components/hero";
@import "components/govuk-tags";
@import "components/task-list";


a {
  @extend .govuk-link;
}

p {
  max-width: 30em;
}

// required for the Autocomplete if using
// Govuk design system
// --------------------------------------
.autocomplete__menu {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
