$govuk-fonts-path: "/static/govuk-frontend/assets/fonts/";
$govuk-images-path: "/static/govuk-frontend/assets/images/";

// import all GOVUK Frontend scss
@import "all";

// import Digital Land styles
@import "components/buttons";
@import "components/hero";
@import "components/tags";
@import "components/task-list";

@import "common/helvetica-fixes";

// STYLE GUIDE ONLY - Just presentational helpers for the guide. This should be SMALL!
// ===================================================================================

@import "styleguide/highlight-style";



// Example and code panels
// Styles needed for the example and code panels
// =============================================

.module-example {
  margin-bottom: 30px;
  padding: 50px 30px;
}

.module-example,
.module-code {
  position: relative;
  margin-bottom: $govuk-gutter;
  border: 4px solid $govuk-border-colour;

  font-family: $govuk-font-family-nta;

  &:before {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 6px 6px 2px;

    color: govuk-colour("blue");
    background: $govuk-border-colour;
  }
}

pre {
  margin: 30px 0;
  word-wrap: break-word;
}

.module-code {
  &:before {
    content: "HTML";
  }

  pre {
    margin: 0;
  }
}

code {
  font-family: monospace;
  font-size: 19px;
  line-height: govuk-em(25, 19);
}

$code-block-text-colour: #dd1144;
$code-block-bg-colour: #f8f8f8;

p code {
  padding: 0 5px;

  color: $code-block-text-colour;
  background-color: $code-block-bg-colour;
  font-family: monospace;
  font-size: 19px;
}

// List items on index page
// =============================================

.dlf-list {
  padding-left: 0;
  list-style: none;
}

.dlf-list-item {
  margin-bottom: 10px;

  .dlf-list-item__heading {
    margin-bottom: 5px;
  }

  p:first-of-type {
    margin-top: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
