{% extends "dl-component-examples/_dl-component-base.html" %}
{% from "dl-macros/nav-macros.html" import sublevelNavItem %}

{% block topLevelNavItems %}
  {{ toplevelNavItem("Get started", "/") }}
  {{ toplevelNavItem("Components", "/component", true) }}
  {{ toplevelNavItem("Content", "/publishing") }}
  {{ toplevelNavItem("Jinja", "/jinja") }}
  {{ toplevelNavItem("Javascripts", "/javascripts") }}
{% endblock %}

{% block componentName %}Input copy pattern{% endblock %}

{% block componentContent %}

<p class="govuk-body">Use this component when you want a user to be able to copy content easily.</p>

{{ designSystemExample({
    "iframe": {
      "title": "An example of the input copy element",
      "url": url_for('components.input_copy_example'),
      "size": "xs"
    },
    "partial": [
      {
        "type": "html",
        "name": 'dl-component-examples/input-copy/partial.html'
      }
    ]
  }) }}

<div class="govuk-body">The <code>input</code> element must have a <code>readonly</code> attribute
  so that the content can not be accidentally changed before copying.</div>

{% endblock %}